#one{
            font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            color: cadetblue;
            
        }
#two{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: chartreuse;
}
#three{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: darkgray;
}
.para{
    font-family: cursive;
}


